.mainView {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .title {
    margin: 35px 0;
    text-align: center;
    color: $second-color;
    font-size: 2rem;
    width: 50%;
    padding: 10px;
    border-bottom: solid $main-color 3px;
  }
  .buttonContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}