.morferTextAreaContainer {
  .textAreaContainer {
    .textArea {
      box-shadow:4px 8px 22px 3px rgba(0,0,0, 0.2);
      transition: background-color 0.5s ease-out;
      //background-color: rgba($second-color, 0.1);
      width: 75vw;
      height: 55vh;
      padding: 6px;
      border-width: 0;
      margin-bottom: -3px;
      &:focus {
        outline: none;
        color: black;
      }
    }
  }
}